*{
	margin: 0px;
	padding: 0px;
}
body{
		background-image: url('paris-116.png');
		background-size: contain;
		background-repeat: no-repeat;
		height: 100vh;
		width: 100vw; 
		position: relative;
		font-family: cambria;
	    font-size: 17px;
	    background-attachment: fixed;
   }
div{
    padding-left: 40%;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.partner_logo{
float: right;
    padding-right: 254px;
 }

.proud-partner{
	padding-top: 11%;
    padding-left: 56%;
    color: white;
    font-size: 22px;
}
.meet-us{
	text-align: center;
    padding: 18% 0px 5px 26%;
    font-size: 22px;
    color: white;
    font-weight: bold;
}
.company{
	padding-left: 5%;
	float:left; 
} 

.leader_summit{
	text-align: center;
    padding: 0% 0px 85px 25%;
    font-size: 25px;
    color: white;
    font-weight: bold;
}
.date{
	text-align: center;
    padding: 15% 0px 5px 26%;
    font-size: 22px;
    color: white;
    font-weight: bold;
}
.address{
	text-align: center;
    padding: 1% 0px 4px 25%;
    font-size: 22px;
    color: white;
    font-weight: bold;
}
.city_name{
	text-align: center;
    padding: 0% 0px 4px 25%;
    font-size: 22px;
    color: white;
    font-weight: bold;
}
.ps_logo{
	float: right;
    padding-right: 145px;
}




@media screen and (min-width: 320px )and (max-width: 767px) {
	.proud-partner {
    	padding-top: 10%;
    	padding-left: 55%;
    	color: white;
    	font-size: 8px;
		}
	.meet-us {
    	font-size: 8px;
	    padding: 17% 0px 8px 25%;
 	}
 	.date{
 		font-size: 8px;
	    text-align: center;
    	padding: 12% 0px 0px 25%;
 	}
 	.address{
 		font-size: 8px;
 	}
 	.city_name{
 		font-size: 8px;
 	}
 	.partner_logo {
    float: right;
    padding-right: 33px;
    width: 54%;
    height: 11px;
}
.ps_logo {
    padding-right: 18px;
    height: 10px;
}





}


@media (width: 768px) {
	.proud-partner {
    	padding-top: 7%;
    	font-size: 18px;
	}
	.partner_logo {
    float: right;
    padding-right: 86px;
    height: 37px;
}
	.meet-us {
	    padding: 19% 0px 16px 25%;
    	font-size: 18px;
    }
    .ps_logo {
    	float: right;
    	padding-right: 0px;
    	height: 29px;
	}
    .date {
    	padding: 16% 0px 3px 30%;
    	font-size: 18px;
	}
	.address {
	    padding: 1% 0px 4px 25%;
    	font-size: 18px;
	} 			
	.city_name{
		font-size: 18px;
	}		


}



@media screen and (min-width: 769px )and (max-width: 1200px) {
	.proud-partner {
    	padding-top: 7%;
    	font-size: 18px;
	}
	.partner_logo {
    float: right;
    padding-right: 86px;
    height: 37px;
}
	.meet-us {
	    padding: 19% 0px 16px 25%;
    	font-size: 18px;
    }
    .ps_logo {
    	float: right;
    	padding-right: 0px;
    	height: 29px;
	}
    .date {
    	padding: 16% 0px 3px 30%;
    	font-size: 18px;
	}
	.address {
	    padding: 1% 0px 4px 25%;
    	font-size: 18px;
	} 			
	.city_name{
		font-size: 18px;
	}		



}
