*{
	margin: 0px;
	padding: 0px;
}
body{
		
		
		height: 100vh;
		width: 100vw; 
		position: relative;
		font-family: cambria;
	    font-size: 17px;
	    background-attachment: fixed;
   }
div{
	background-image: url('paris-116.png');
	background-size: auto;
	background-repeat: no-repeat;
    	color: white;
    	font-size: 24px;
    	font-weight: bold;
    	height: 100%;
    	width:100%;
}

.partner_logo{
	float: right;
    	padding-right: 205px;
 }

.proud-partner{
	padding-top: 6%;
    	padding-left: 74%;
    	color: white;
    	font-size: 26px;
    	padding-bottom: 15px;
}
.meet-us{
	text-align: center;
    	padding: 12% 0px 5px 56%;
    	font-size: 26px;
    	color: white;
    	font-weight: bold;
}
.company{
	padding-left: 126%;
	float:left; 
} 

.leader_summit{
	text-align: center;
    	padding: 0% 0px 85px 25%;
    	font-size: 25px;
    	color: white;
    	font-weight: bold;
}
.date{
	text-align: center;
    	padding: 12% 0px 5px 56%;
    font-size: 22px;
    color: white;
    font-weight: bold;
}

.address{
	text-align: center;
    	padding: 0% 0px 4px 57%;
    	font-size: 22px;
    	color: white;
    	font-weight: bold;
}
.city_name{
	text-align: center;
    	padding: 0% 0px 4px 56%;
    	font-size: 22px;
    	color: white;
    	font-weight: bold;
}
.ps_logo{
	float: right;
    padding-right: 126px;
}



@media screen and (min-width: 320px )and (max-width: 767px) {
	.proud-partner {
    	padding-top: 6%;
   	 padding-left: 69%;
   	 color: white;
   	 font-size: 7px;
	padding-bottom: 5px;
		}
.meet-us {
    	font-size: 8px;
	    padding: 9% 0px 1px 50%;
 	}
 .date{
 		font-size: 8px;
	    text-align: center;
    	padding: 10% 0px 0px 52%;
 	}
 .address{
 		font-size: 8px;
 		padding: 0% 0px 4px 52%;
 	}
 .city_name{
 		font-size: 8px;
 		padding: 0% 0px 4px 50%;
 	}
.partner_logo {
    float: right;
    padding-right: 53px;
    height: 12px;
}
.ps_logo {
    padding-right: 17px;
    height: 10px;
}





}


@media (width: 768px) {
.proud-partner {
    	padding-top: 7%;
    	font-size: 18px;
	}
.partner_logo {
    float: right;
    padding-right: 77px;
    height: 37px;
}
.meet-us {
	    padding: 11% 0px 4px 59%;
    	font-size: 18px;
    }
.ps_logo {
    	float: right;
    	padding-right: 26px;
    	height: 26px;
	}
.date {
    	padding: 7% 0px 3px 60%;
    	font-size: 18px;
	}
.address {
	    padding: 1% 0px 4px 58%;
    	font-size: 18px;
	} 			
.city_name{
		font-size: 18px;
		padding: 0% 0px 4px 59%;
	}		


}
@media screen and (min-width: 412px )and (max-width: 914px){
.proud-partner {
    	padding-top: 7%;
    	font-size: 11px;
    	padding-bottom: 7px;
	}
.partner_logo {
    float: right;
    padding-right: 53px;
    height: 17px;
	}
.meet-us {
	    padding: 8% 0px 0px 55%;
    	font-size: 11px;
    }
.ps_logo {
    	float: right;
    	padding-right: 14px;
    	height: 14px;
	}
 .date {
    	padding: 9% 0px 3px 55%;
    	font-size: 11px;
	}
	.address {
	    padding: 1% 0px 4px 57%;
    	font-size: 11px;
	} 			
	.city_name{
		font-size: 11px;
		padding: 0% 0px 4px 57%;
	}	
}


@media screen and (min-width: 769px )and (max-width: 1200px) {
	.proud-partner {
    	padding-top: 7%;
    	font-size: 18px;
    	padding-bottom: 15px;
	}
	.partner_logo {
    float: right;
    padding-right: 81px;
    height: 37px;
}
	.meet-us {
	    padding: 8% 0px 16px 59%;
    	font-size: 18px;
    }
    .ps_logo {
    	float: right;
    	padding-right: 16px;
    	height: 27px;
	}
    .date {
    	padding: 9% 0px 3px 59%;
    	font-size: 18px;
	}
	.address {
	    padding: 1% 0px 4px 57%;
    	font-size: 18px;
	} 			
	.city_name{
		font-size: 18px;
	}		



}
